xml/etc/course_attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="course">
  	<xs:complexType>
  	  <xs:sequence>
  	  	<xs:element name="teacher">
  	  	  <xs:complexType>
 	  	    <xs:attribute name="initials" type="xs:string" use="required"/>
 	  	    <xs:attribute name="name" type="xs:string" use="required"/>
  	  	  </xs:complexType>
  	  	</xs:element>
  	  </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
  	  <xs:attribute name="ectsPoints" type="xs:int" use="required"/>
  	</xs:complexType>
  </xs:element>
</xs:schema>
